<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LaLiga Symfony 5 HTTP Rest API</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap" rel="stylesheet">
    <style>
      html {
        background: #232526;
        background: linear-gradient(to right, #414345, #232526);
        color: #fff;
        font-family: 'Hind', sans-serif; 
      }
      body {
        padding: 1.25rem;
      }
      p {
        color: #aaa;
        max-width: 700px;
      }
      a {
        color: #84B54D;
        text-decoration: none;
      }
      a:hover {
        color: #269e4a;
      }
    </style>
  </head>
  <body>
    {% block body %}
      <h1>LaLiga Symfony 5 HTTP Rest API</h1>
      <p>Entidades de la aplicación. Se puede consumir cada recurso usando los verbos HTTP GET/POST/PUT/DELETE siguiendo el estándar REST.</p>
      <ul>
        <li><a href='/api/user'>Usuarios</a></li>
        <li><a href='/api/team'>Equipos</a></li>
        <li><a href='/api/player'>Jugadores</a></li>
      </ul>
    {% endblock %}
  </body>
</html>
